- content_for :title, 'Pending Abandonment Applications'
- content_for :breadcrumbs, breadcrumbs_helper(['Pending abandonment applications'])
- content_for :new_application_path, new_applications_abandonment_path
= render 'applications/list'