<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Complaints</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="fa fa-inbox"></i><%= link_to "My complaints", complaints_path %></li>
    <li><i class="fa fa-bars"></i><a href="ui-tabs.html">All complaints</a></li>
    <li><i class="fa fa-plus"></i><%= link_to "Add new complaint", new_complaint_path %></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Board Applications</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="fa fa-table"></i><a href="tables-basic.html">Land Sale/Purchase</a></li>
    <li><i class="fa fa-table"></i><a href="tables-data.html">Major Renovation</a></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Rules and Regulations</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Initial review</a></li>
    <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Pending changes</a></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Inspections</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Overdue</a></li>
    <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Follow-up needed</a></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Non-Compliance</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="menu-icon fa fa-th"></i><%= link_to "Active", non_compliance_notices_path %></li>
    <li><i class="fa fa-plus"></i><%= link_to "Issue new notice", new_non_compliance_notice_path %></li>
  </ul>
</li>