<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Complaints</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">My active complaints</a></li>
    <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">My completed complaints</a></li>
    <li><i class="fa fa-bars"></i><a href="ui-tabs.html">All active complaints</a></li>
    <li><i class="fa fa-share-square-o"></i><a href="ui-social-buttons.html">All completed complaints</a></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Board Applications</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="fa fa-table"></i><a href="tables-basic.html">Land Sale/Purchase</a></li>
    <li><i class="fa fa-table"></i><a href="tables-data.html">Major Renovation</a></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Rules and Regulations</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Initial review</a></li>
    <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Pending changes</a></li>
  </ul>
</li>
<li class="menu-item-has-children dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Inspections</a>
  <ul class="sub-menu children dropdown-menu">
    <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Overdue</a></li>
    <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Follow-up needed</a></li>
  </ul>
</li>