- content_for :title, "Pending Land #{params[:application_type].capitalize} Applications"
- content_for :breadcrumbs, breadcrumbs_helper(["Pending land #{params[:application_type]} applications"])
- content_for :new_application_path, new_applications_land_path(application_type: params[:application_type])
= render 'applications/list'