<div
  id="notes-area"
  data-action="bracegirdle:notes:create->notes#create"
  data-controller="notes"
>
  <section class="section-wrapper">
    <label class="section-title mb-4">Notes</label>
    <ul 
      class="list-unstyled mb-0"
      data-target="notes.list"
    >
      <%= render(partial: 'notes/note', collection: object.notes.includes(:user)) || 
        content_tag(:li, 'There are no notes.', class: 'media', data: { target: 'notes.noNotesMessage' }) 
      %>
    </ul>
  </section>
  <% if object.active? %>
    <section class="section-wrapper">
      <label class="section-title">Add New Note</label>
      <div class="mt-3">
        <%= form_with model: [object, Note.new],
          local: false,
          url: (defined?(url) ? url : nil) do |f| 
        %>
          <%= f.text_area :body, 
            rows: 8, 
            class: 'form-control',
            data: { target: 'notes.noteBodyInput' }
          %>
          <div class="form-layout-footer mt-3">
            <button
              id="submit-note-button"
              class="btn btn-primary mt-1 me-3"
            >Submit</button>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>