- content_for :title, "Complaint ##{@complaint.complaint_number}"
- content_for :breadcrumbs, breadcrumbs_helper([['My active complaints', complaints_path], yield(:title)])
.card.mb-1.pd-0.bd-0 style="background-color: #f0f2f7"
  div style="background-color: white;"
    .card-header style="border: 1px solid #ced4da;"
      ul.nav.nav-tabs.card-header-tabs
        li.nav-item
          a href="#complaint-details" data-toggle="tab" class=['nav-link', (params[:tab] == :complaint || params[:tab].nil?) ? 'active' : nil] Complaint Details
        li.nav-item
          a href="#investigation-details" data-toggle="tab" class=['nav-link', params[:tab] == :investigation ? 'active' : nil] Investigation Details
  .card-body.pd-0
    .tab-content
      = render partial: 'complaint_details'
      = render partial: 'investigation_details'