<%= link_to (
  ['Attachment', 'Note'].include?(notification.object_type) ? notification.object.concernable : notification.object), 
  class: 'dropdown-link notification-link' + (notification.read? ? ' read' : ''), 
  data: {
    action: 'main#markNotificationRead',
    notification_id: notification.id,
    path: mark_read_notification_path(notification),
    target: 'main.notification'
  } do
%>
  <div class="row media g-0">
    <div class="col-md-3">
      <img src="http://via.placeholder.com/16x16" alt="" />
    </div>
    <div class="col-md-9 media-body">
      <p>
        <%= "#{notification.sender.name} #{render inline: notification.text, locals: { notification: notification }}." %>
      </p>
      <span><%= notification.created_at.strftime('%B %-d, %Y at %l:%M %P') %></span>
    </div>
  </div>
<% end %>