<% content_for :title, 'Change password' %>
<% content_for :breadcrumbs, 
  breadcrumbs_helper(
    [
      ['Profile', user_profile_path(current_user)], 
      'Change password'
    ]
  ) 
%>
<div class="container">
  <% if @errors %>
    <div class="alert alert-danger">
      There was a problem changing your password!
      <ul class="mg-b-0">
        <% @errors.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section class="d-flex justify-content-center mg-t-20">
    <%= form_for User.new, url: update_user_password_path do %>
      <div class="signin-box">
        <h2 class="signin-title-primary">Change password</h2>
        <h3 class="signin-title-secondary">Enter your new password.</h3>
        <div class="form-group">
          <input class="form-control" name="user[new_password]" type="password" placeholder="Enter your new password" />
        </div>
        <div class="form-group mg-b-50">
          <input class="form-control" name="user[confirm_new_password]" type="password" placeholder="Confirm your new password" />
        </div>
        <button class="btn btn-primary btn-block btn-signin">Change password</button>
      </div>
    <% end %>
  </section>
</div>