- content_for :title, "Change password"
- content_for :breadcrumbs, breadcrumbs_helper([['Profile', '#'], 'Change password'])
.container
  - if @errors
    .alert.alert-danger
      | There was a problem changing your password!
      ul.mg-b-0
        - @errors.each do |e|
          li = e
  section.d-flex.justify-content-center.mg-t-20
    = form_for User.new, url: update_user_password_path do
      .signin-box
        h2.signin-title-primary Change password
        h3.signin-title-secondary Enter your new password.
        .form-group
          input.form-control name="user[new_password]" type="password" placeholder="Enter your new password"
        .form-group.mg-b-50
          input.form-control name="user[confirm_new_password]" type="password" placeholder="Confirm your new password"
        button.btn.btn-primary.btn-block.btn-signin Change password