.file-item id="attachment-#{attachment.id}"
  .row.no-gutters.wd-100p
    .col-9.col-sm-5.d-flex.align-items-center
      i class=['fa', attachment.icon.presence || 'fa-file-o']
      =link_to attachment.file.filename, view_attachment_link(object, attachment)
    .col-6.col-sm-4.mg-t-5.mg-sm-t-0 =attachment.description
    .col-6.col-sm-3.tx-right.mg-t-5.mg-sm-t-0.tx-18
      =link_to attachment.file do
        i.icon.ion-md-download.mg-r-15
      =link_to '#', data: { id: attachment.id, object_name: object.class.name.downcase.pluralize, object_id: object.id }, class: 'delete-attachment' do
        i.icon.ion-ios-trash