.section-wrapper
  .row.mg-b-10
    .col-lg-11.col-sm-3
      label.section-title =@attachment.file.filename
    .col-lg-1.text-right
      =link_to @attachment.file, disposition: 'attachment' do
        i.icon.ion-md-download.tx-18.tx-black
  .embed-responsive style="padding-top: 100%; -webkit-overflow-scrolling: touch !important; overflow-y: auto !important; overflow-x: scroll;"
    iframe.embed-responsive-item src="#{rails_blob_path(@attachment.file)}"
.section-wrapper.mg-t-5.pd-t-30
  label.section-title.mg-b-20 Information
  table.table.table-striped
    tbody
      tr
        th.wd-30p Uploaded By
        td =@attachment.user.name
      tr
        th Description
        td =@attachment.description