- content_for :title, 'Pending Hazardous Monuments Applications'
- content_for :breadcrumbs, breadcrumbs_helper(['Pending hazardous monuments applications'])
- content_for :new_application_path, new_hazardous_path
= render 'restoration_list'