<div class="page-error-wrapper">
  <div>
    <h1 class="error-title"><%= @status %></h1>
    <h5 class="tx-sm-24 tx-normal"><%= @message %></h5>
    <p class="mb-5">We've been automatically alerted of the issue and will work to fix it ASAP.</p>
    <p class="mb-5">
      <%= link_to 'Back to Home', root_path, class: 'btn btn-error' %>
    </p>
  </div>
</div>