.form-group.required label:first-child {
  font-weight: bold;
}

.form-group.required label:first-child:after {
  content: " *";
}

.active-circle {
  background-color: #1b84e7;
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  margin-left: 6px;
  width: 7px;
}

.input-group input {
  height: 100%;
}

.form-control:not(textarea) {
  height: 42px !important;
}

.tab-pane > .section-wrapper {
  border: 0;
  padding: 0;
  margin-top: 15px;
}

.select2-container {
  text-align: left;
}

.slim-navbar .sub-item .sub-with-sub::after {
  content: '\f054';
  font-family: 'FontAwesome';
  font-weight: 400;
  margin-left: 4px;
  margin-top: 0;
  opacity: .7;
}