.form-group.required label:first-child {
  font-weight: bold;
}

.form-group.required label:first-child:after {
  content: " *";
}

.active-circle {
  background-color: #1b84e7;
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  margin-left: 6px;
  width: 7px;
}

.input-group input {
  height: 100%;
}

.form-control {
  height: 42px;
}