<div 
  id="complaint-received" 
  class="tracker-step"
  data-step="1"
  data-target="tracker.step"
>
  <%= form_with model: @complaint,
    local: false,
    method: :patch do |f| 
  %>
    <label class="section-label">Complaint Received</label>
    <p class="mb-10">Complaint received by <%= @complaint.receiver.name %> on <%= @complaint.created_at %>.</p>
    <div id="complaint-received-action-area">
      <% if policy(@complaint).begin_investigation? %>
        <%= button_with_confirmation_modal 'Begin Investigation',
          form_action: begin_investigation_complaint_path,
          text: 'Are you sure you want to begin investigating this complaint?',
          title: 'Begin Investigation'
        %>
        <% if policy(@complaint).assign? %>
          <button
            type="button"
            class="btn btn-primary ml-2"
            data-toggle="modal"
            data-target="#complaint-assign-investigator-modal"
          >Assign to Investigator</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
