- content_for :title, "View #{@restoration.formatted_application_type} Application"
- content_for :breadcrumbs, breadcrumbs_helper([["Pending #{@restoration.type.downcase} applications", self.send("applications_#{@restoration.type.downcase}_index_path")], 'View application'])
= render 'applications/restoration/summary'
- unless @restoration.received?
  = render 'applications/restoration/exhibits'