.multi_step_form {
  background: #f6f9fb;
  display: block;
  overflow: hidden;
}

.multi_step_form #msform {
  position: relative;
  padding-top: 4px;
  margin: 0 auto;
  background: #ffffff;
  z-index: 1;
}

.multi_step_form #msform fieldset {
  border: 0;
  padding-top: 20px;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}

.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}

.multi_step_form #msform fieldset h3 {
  font: 500 18px/35px "Roboto", sans-serif;
  color: #3f4553;
}

.multi_step_form #msform fieldset h6 {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
  padding-bottom: 30px;
}

.multi_step_form #msform fieldset .intl-tel-input {
  display: block;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
}

.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag {
  padding: 0 20px;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 65px;
}

/* line 1890, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow {
  border: 0;
}

/* line 1893, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow:after {
  content: "\f35f";
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 24px/7px Ionicons;
  color: #5f6771;
}

/* line 1901, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset #phone {
  padding-left: 80px;
}

/* line 1904, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-group {
  padding: 0 10px;
}

/* line 1907, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .fg_2, .multi_step_form #msform fieldset .fg_3 {
  padding-top: 10px;
  display: block;
  overflow: hidden;
}

/* line 1912, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .fg_3 {
  padding-bottom: 70px;
}

/* line 1915, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control, .multi_step_form #msform fieldset .product_select {
  border-radius: 3px;
  border: 1px solid #d8e1e7;
  padding: 0 20px;
  height: auto;
  font: 400 15px/48px "Roboto", sans-serif;
  color: #5f6771;
  box-shadow: none;
  outline: none;
  width: 100%;
}

/* line 1926, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control.placeholder, .multi_step_form #msform fieldset .product_select.placeholder {
  color: #5f6771;
}

/* line 1929, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control:-moz-placeholder, .multi_step_form #msform fieldset .product_select:-moz-placeholder {
  color: #5f6771;
}

/* line 1932, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control::-moz-placeholder, .multi_step_form #msform fieldset .product_select::-moz-placeholder {
  color: #5f6771;
}

/* line 1935, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control::-webkit-input-placeholder, .multi_step_form #msform fieldset .product_select::-webkit-input-placeholder {
  color: #5f6771;
}

/* line 1938, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control:hover, .multi_step_form #msform fieldset .form-control:focus, .multi_step_form #msform fieldset .product_select:hover, .multi_step_form #msform fieldset .product_select:focus {
  border-color: #5cb85c;
}

/* line 1941, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control:focus.placeholder, .multi_step_form #msform fieldset .product_select:focus.placeholder {
  color: transparent;
}

/* line 1944, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control:focus:-moz-placeholder, .multi_step_form #msform fieldset .product_select:focus:-moz-placeholder {
  color: transparent;
}

/* line 1947, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control:focus::-moz-placeholder, .multi_step_form #msform fieldset .product_select:focus::-moz-placeholder {
  color: transparent;
}

/* line 1950, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .form-control:focus::-webkit-input-placeholder, .multi_step_form #msform fieldset .product_select:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 1954, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform fieldset .input-group {
  padding-bottom: 40px;
}

/* line 1958, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
}

/* line 1963, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}

/* line 1972, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar li:before {
  content: "";
  font: normal normal normal 30px/50px Ionicons;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

/* line 1983, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}

/* line 1993, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}

/* line 1996, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar li.active {
  color: #146abb;
}

/* line 1999, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #146abb;
  color: white;
}

/* line 2003, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform .action-button {
  background: #146abb;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #1363b0;
  margin: 0 10px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 10%;
}

/* line 2016, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #405867;
  border-color: #405867;
}

/* line 2020, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}

/* line 2025, /Users/bumppoman/RubymineProjects/Bracegirdle/app/assets/stylesheets/style.scss */
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}