.choices, .choices__inner {
  margin-bottom: 0;
  max-height: 42px !important;
  min-height: 42px !important;
}

.choices__inner {
  height: 42px !important;
}

.choices[data-type="select-one"] .choices__inner, .choices[data-type="select-multiple"] .choices__inner {
  border-color: #ced4da;
  border-radius: 0;
  height: calc(2.5005rem + 2px);
  outline: none;
}

.choices[data-type="select-one"]:not(.is-disabled) .choices__inner, .choices[data-type="select-multiple"]:not(.is-disabled) .choices__inner {
  background-color: #fff;
}

.choices[data-type="select-one"] {
  .choices__list--single {
    .choices__item {
      color: #495057;
      line-height: calc(2.5005rem + 2px)-0.1rem;
      height: 100%;
      display: flex;
    }

    .choices__placeholder {
      color: #6c757d;
    }
  }
}

.choices[data-type="select-multiple"] {
  .choices__list--multiple .choices__item {
    position: relative;
    margin-right: 4px;
    padding: 3px 10px 3px 10px;
    border-color: transparent;
    border-radius: 0;
    background-color: #1b84e7;
    color: #fff;
    line-height: 1.45;

    .choices__button {
      color: #fff;
      opacity: .5;
      font-size: 12px;
    }
  }

  &:not(.is-disabled) {
    .choices__input {
      background-color: #fff;
    }

    &:focus .choices__inner {
      border-color: #ced4da;
    }
  }
}

.choices .choices__list--dropdown {
  border-color: #ced4da;
  z-index: 200;
}
