li.nav-item.with-sub
  a.nav-link href="#"
    i.icon.ion-ios-filing
    span Inbox
  .sub-item
    ul
      li
        = active_circle_link 'Rules and Regulations', rules_index_path, !@pending_items[:rules].zero?
li.nav-item.with-sub.mega-dropdown
  a.nav-link href="#"
    i.icon.ion-ios-briefcase
    span Applications
  .sub-item
    .row
      .col-lg-4
        label.section-label Land
        ul
          li =link_to 'Land Purchase', '#'
          li =link_to 'Land Sale', '#'
        label.section-label.mg-t-20 Major Renovations
        ul
          li =link_to 'Mausoleum', '#'
          li =link_to 'Columbarium', '#'
      .col-lg.mg-t-30.mg-lg-t-0
        label.section-label Restoration
        ul
          li = active_circle_link 'Hazardous Monuments', restoration_index_path(type: :hazardous), @current_user.hazardous.any?
          li =link_to 'Vandalism', restoration_index_path(type: :vandalism)
          li =link_to 'Abandonment', restoration_index_path(type: :abandonment)
      .col-lg.mg-t-30.mg-lg-t-0
        label.section-label Land
        ul
          li =link_to 'Land Purchase', '#'
          li =link_to 'Land Sale', '#'
li.nav-item.with-sub
  a.nav-link href="#"
    i.icon.ion-ios-flashlight
    span Inspections
  .sub-item
    ul
      li
        a href="#" Incomplete inspections
      li = active_circle_link 'Overdue inspections', overdue_inspections_cemeteries_path, current_user.overdue_inspections.any?
li.nav-item.with-sub
  a.nav-link href="#"
    i.icon.ion-ios-search
    span Investigations
  .sub-item
    ul
      li.sub-with-sub
        a href="#" Complaints
        ul
          li = active_circle_link 'My complaints', complaints_path, !@pending_items[:complaints].zero?
          - if current_user.supervisor?
            li =active_circle_link 'Complaints pending closure', complaints_pending_closure_path, Complaint.where(status: 4).any?
            li =active_circle_link 'Unassigned complaints', unassigned_complaints_path, Complaint.where(investigator: nil).any?
          li =link_to 'Add new complaint', new_complaint_path
      li.sub-with-sub
        a href="#" Non-Compliance
        ul
          li = active_circle_link 'Active notices', notices_path, @current_user.notices.any?
          li = link_to 'Issue new notice', new_notice_path